@media (min-width:0px) and (max-width:640px){
    .contentCategoryDiv{
        padding: 80px 10px;
        background:linear-gradient(black, rgb(27, 27, 27));
        min-height: 100vh;
        margin-bottom: 15px;
    }

    .contentCategoryGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .moviesContainer{
        margin: 8px;
        box-shadow: 1px 1px 1px rgba(44, 44, 44, 0.116);
        text-align: center;
        width: auto;
    }
    .moviesPosters{
        width: 100%;
        height: 100%;
    }

}