/* NAVBAR STYLES */

/* SMALL */
@media (min-width:0px) and (max-width:600.99px){
    .navbar{
        position: fixed;
        z-index: 999;
        width: 100%;
        margin-top: 0px;
        background-color: rgb(241, 178, 90);
    }
    .sections{
        list-style: none;
        text-align: right;
        justify-content: right;
    }
    .linksNames{
        color: white;
        text-decoration: none;
        margin-right: 15px;
    }  

}

/* MEDIUM */
@media (min-width:601px) and (max-width:1007.99px){
    .navbar{
        position: fixed;
        z-index: 999;
        width: 100%;
        margin-top: 0px;
        background-color: rgb(241, 178, 90);
    }
    .sections{
        list-style: none;
        text-align: right;
        justify-content: right;
    }
    .linksNames{
        color: white;
        text-decoration: none;
        margin-right: 15px;
    }
}

/* LARGE */
@media (min-width:1008px) and (max-width:2500px){
    .navbar{
        position: fixed;
        z-index: 999;
        width: 100%;
        margin-top: 0px;
        background-color: rgb(241, 178, 90);
    }
    .sections{
        list-style: none;
        text-align: right;
        justify-content: right;
    }
    .linksNames{
        color: white;
        text-decoration: none;
        margin-right: 15px;
    }
}