/* NAVBAR STYLES */

/* SMALL */
@media (min-width:0px) and (max-width:600.99px){
    .navbar{
        position: fixed;
        z-index: 999;
        width: 100%;
        background-color: rgb(241, 178, 90);
        height: 50px;
        margin-top: -5px;
    }
    
    .ulNavbar{
        display: grid;
        grid-template-columns: 7fr 1fr 1fr ;
        padding: 3px;
    }

    .movfun{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 24px;
        letter-spacing: 4px;
        margin-top: -5px;
        margin-bottom: -3.5px;
        margin-left: 8px;

    }
    .sections{
        list-style: none;
    }
    .linksNames{
        color: rgb(0, 0, 0);
        text-decoration: none;
        margin-right: 15px;
        font-size: 14px;
        -webkit-text-stroke: 0.3px black; 
    }  
    .linksNames:hover{
        text-decoration: underline;
        font-size: 14.3px; 
    }
}

/* MEDIUM */
@media (min-width:601px) and (max-width:1007.99px){
    .navbar{
        position: fixed;
        z-index: 999;
        width: 100%;
        background-color: rgb(241, 178, 90);
        height: 50px;
        margin-top: -5px;
    }
    
    .ulNavbar{
        display: grid;
        grid-template-columns: 7fr 1fr 1fr ;
        padding: 3px 10px;
    }

    .movfun{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 26px;
        letter-spacing: 4px;
        margin-top: -5px;
        margin-bottom: -3.5px;
        margin-left: 8px;

    }
    .sections{
        list-style: none;
    }
    .linksNames{
        color: rgb(0, 0, 0);
        text-decoration: none;
        margin-right: 15px;
        font-size: 16px;
        -webkit-text-stroke: 0.3px black; 
    }
    .linksNames:hover{
        text-decoration: underline;
        font-size: 16.3px; 
    }
}

/* LARGE */
@media (min-width:1008px) and (max-width:2500px){
    .navbar{
        position: fixed;
        z-index: 999;
        width: 100%;
        background-color: rgb(241, 178, 90);
        height: 50px;
        margin-top: -5px;
    }
    
    .ulNavbar{
        display: grid;
        grid-template-columns: 10fr 1fr 1fr ;
        padding: 0px 10px;
    }

    .movfun{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 29px;
        letter-spacing: 4px;
        margin-top: -5px;
        margin-bottom: -3.5px;
        margin-left: 20px;

    }
    .sections{
        list-style: none;
    }
    .linksNames{
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 16px;
        -webkit-text-stroke: 0.3px black;
    }
    .linksNames:hover{
        text-decoration: underline;
        font-size: 16.3px; 
    }
}